<div class="container-fluid">
  <h1 class="text-center fadeIn">Vine_Tutorial App</h1>
  <p class="text-center">You can Add Delete </p>
  <div class="text-center pt-1">
   
  </div>
</div>


<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Welcome.</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="tutorials" class="nav-link">Tutorials</a>
      </li>
      <li class="nav-item">
        <a routerLink="add" class="nav-link">Add</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>